{{#hasImports}}
    {{#imports}}
        import type { {{{.}}} } from './{{.}}{{importFileExtension}}';
    {{/imports}}

{{/hasImports}}
{{>modelGenericInterfaces}}

/**
* Check if a given object implements the {{classname}} interface.
*/
export function instanceOf{{classname}}(_value: object): boolean {
let isInstance = true;
{{#vars}}
    {{#required}}
        isInstance = isInstance && "{{name}}" in _value;
    {{/required}}
{{/vars}}

return isInstance;
}

