import { exists, mapValues } from '../runtime{{importFileExtension}}';
{{#hasImports}}
    {{#imports}}
        import type { {{{.}}} } from './{{.}}{{importFileExtension}}';
        import {
        {{.}}FromJSON,
        {{.}}FromJSONTyped,
        {{.}}ToJSON,
        } from './{{.}}{{importFileExtension}}';
    {{/imports}}

{{/hasImports}}
{{#discriminator}}
    import {
    {{#discriminator.mappedModels}}
        {{modelName}}FromJSONTyped{{^-last}},{{/-last}}
    {{/discriminator.mappedModels}}
    } from './index{{importFileExtension}}';

{{/discriminator}}
{{>modelGenericInterfaces}}

/**
* Check if a given object implements the {{classname}} interface.
*/
export function instanceOf{{classname}}(_value: object): boolean {
let isInstance = true;
{{#vars}}
    {{#required}}
        isInstance = isInstance && "{{name}}" in _value;
    {{/required}}
{{/vars}}

return isInstance;
}

export function {{classname}}FromJSON(json: any): {{classname}} {
return {{classname}}FromJSONTyped(json, false);
}

export function {{classname}}FromJSONTyped(json: any, _ignoreDiscriminator: boolean): {{classname}} {
{{#hasVars}}
    if ((json === undefined) || (json === null)) {
    return json;
    }
    {{#discriminator}}
        if (!_ignoreDiscriminator) {
        {{#discriminator.mappedModels}}
            if (json['{{discriminator.propertyBaseName}}'] === '{{mappingName}}') {
            return {{modelName}}FromJSONTyped(json, true);
            }
        {{/discriminator.mappedModels}}
        }
    {{/discriminator}}
    return {
    {{#parent}}...{{{.}}}FromJSONTyped(json, _ignoreDiscriminator),{{/parent}}
    {{#additionalPropertiesType}}
        ...json,
    {{/additionalPropertiesType}}
    {{#vars}}
        {{#isPrimitiveType}}
            {{#isDateType}}
                '{{name}}': {{^required}}!exists(json, '{{baseName}}') ? undefined : {{/required}}({{#isNullable}}json['{{baseName}}'] === null ? null : {{/isNullable}}new Date(json['{{baseName}}'])),
            {{/isDateType}}
            {{#isDateTimeType}}
                '{{name}}': {{^required}}!exists(json, '{{baseName}}') ? undefined : {{/required}}({{#isNullable}}json['{{baseName}}'] === null ? null : {{/isNullable}}new Date(json['{{baseName}}'])),
            {{/isDateTimeType}}
            {{^isDateType}}
                {{^isDateTimeType}}
                    '{{name}}': {{^required}}!exists(json, '{{baseName}}') ? undefined : {{/required}}json['{{baseName}}'],
                {{/isDateTimeType}}
            {{/isDateType}}
        {{/isPrimitiveType}}
        {{^isPrimitiveType}}
            {{#isArray}}
                {{#uniqueItems}}
                    '{{name}}': {{^required}}!exists(json, '{{baseName}}') ? undefined : {{/required}}({{#isNullable}}json['{{baseName}}'] === null ? null : {{/isNullable}}new Set((json['{{baseName}}'] as Array<any>).map({{#items}}{{datatype}}{{/items}}FromJSON))),
                {{/uniqueItems}}
                {{^uniqueItems}}
                        '{{name}}': {{^required}}!exists(json, '{{baseName}}') ? undefined : {{/required}}({{#isNullable}}json['{{baseName}}'] === null ? null : {{/isNullable}}(json['{{baseName}}'] as Array<any>).map({{#items}}{{datatype}}{{/items}}FromJSON)),
                {{/uniqueItems}}
            {{/isArray}}
            {{#isMap}}
                    '{{name}}': {{^required}}!exists(json, '{{baseName}}') ? undefined : {{/required}}({{#isNullable}}json['{{baseName}}'] === null ? null : {{/isNullable}}mapValues(json['{{baseName}}'], {{#items}}{{datatype}}{{/items}}FromJSON)),
            {{/isMap}}
            {{^isArray}}
                {{^isMap}}
                    {{^isFreeFormObject}}
                            '{{name}}': {{^required}}!exists(json, '{{baseName}}') ? undefined : {{/required}}{{datatype}}FromJSON(json['{{baseName}}']),
                    {{/isFreeFormObject}}
                    {{#isFreeFormObject}}
                            '{{name}}': {{^required}}!exists(json, '{{baseName}}') ? undefined : {{/required}}json['{{baseName}}'],
                    {{/isFreeFormObject}}
                {{/isMap}}
            {{/isArray}}
        {{/isPrimitiveType}}
    {{/vars}}
        };
{{/hasVars}}
{{^hasVars}}
        return json;
{{/hasVars}}
    }

    export function {{classname}}ToJSON(_value?: {{classname}} | null): any {
{{#hasVars}}
        if (_value === undefined) {
        return undefined;
        }
        if (_value === null) {
        return null;
        }
        return {
    {{#parent}}...{{{.}}}ToJSON(_value),{{/parent}}
    {{#additionalPropertiesType}}
            ..._value,
    {{/additionalPropertiesType}}
    {{#vars}}
        {{^isReadOnly}}
            {{#isPrimitiveType}}
                {{#isDateType}}
                        '{{baseName}}': {{^required}}_value.{{name}} === undefined ? undefined : {{/required}}({{#isNullable}}_value.{{name}} === null ? null : {{/isNullable}}_value.{{name}}.toISOString().substring(0,10)),
                {{/isDateType}}
                {{#isDateTimeType}}
                        '{{baseName}}': {{^required}}_value.{{name}} === undefined ? undefined : {{/required}}({{#isNullable}}_value.{{name}} === null ? null : {{/isNullable}}_value.{{name}}.toISOString()),
                {{/isDateTimeType}}
                {{#isArray}}
                        '{{baseName}}': {{#uniqueItems}}{{^required}}_value.{{name}} === undefined ? undefined : {{/required}}{{#isNullable}}_value.{{name}} === null ? null : {{/isNullable}}Array.from(value.{{name}} as Set<any>){{/uniqueItems}}{{^uniqueItems}}value.{{name}}{{/uniqueItems}},
                {{/isArray}}
                {{^isDateType}}
                    {{^isDateTimeType}}
                        {{^isArray}}
                                '{{baseName}}': _value.{{name}},
                        {{/isArray}}
                    {{/isDateTimeType}}
                {{/isDateType}}
            {{/isPrimitiveType}}
            {{^isPrimitiveType}}
                {{#isArray}}
                    {{#uniqueItems}}
                            '{{baseName}}': {{^required}}_value.{{name}} === undefined ? undefined : {{/required}}({{#isNullable}}_value.{{name}} === null ? null : {{/isNullable}}Array.from(_value.{{name}} as Set<any>).map({{#items}}{{datatype}}{{/items}}ToJSON)),
                    {{/uniqueItems}}
                    {{^uniqueItems}}
                            '{{baseName}}': {{^required}}_value.{{name}} === undefined ? undefined : {{/required}}({{#isNullable}}_value.{{name}} === null ? null : {{/isNullable}}(_value.{{name}} as Array<any>).map({{#items}}{{datatype}}{{/items}}ToJSON)),
                    {{/uniqueItems}}
                {{/isArray}}
                {{#isMap}}
                        '{{baseName}}': {{^required}}_value.{{name}} === undefined ? undefined : {{/required}}({{#isNullable}}_value.{{name}} === null ? null : {{/isNullable}}mapValues(_value.{{name}}, {{#items}}{{datatype}}{{/items}}ToJSON)),
                {{/isMap}}
                {{^isArray}}
                    {{^isMap}}
                        {{^isFreeFormObject}}
                                '{{baseName}}': {{datatype}}ToJSON(_value.{{name}}),
                        {{/isFreeFormObject}}
                        {{#isFreeFormObject}}
                                '{{baseName}}': _value.{{name}},
                        {{/isFreeFormObject}}
                    {{/isMap}}
                {{/isArray}}
            {{/isPrimitiveType}}
        {{/isReadOnly}}
    {{/vars}}
        };
{{/hasVars}}
{{^hasVars}}
        return _value;
{{/hasVars}}
    }
